.wrapper
  = render 'shared/left-content'
  .right-content
    .group-title
      %p.group-name sample
      %p.group-member Members: seo neko
      %a.edit{href: ""} edit
    .chat-space
      %p.member-name name
      %span.time 2018/9/28 10:11:13
      %p.member-text 初めまして
    .entry-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'entry-sheet', placeholder: 'type a message'
        = f.label :image, class: 'upload-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send'

